.home{
    height: 80vh;
    background:linear-gradient(rgba(33, 33, 33, 0.522) , rgba(33,33,33,0.522)) , url('../Assets/bg.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    position: relative;
}
.homeText{
    text-align: center;
}
.title{
    color: var(--whiteColor);
    font-size: 2rem;
    font-weight: 700;
    line-height: 2.5rem;
}
.subTitle{
    color: var(--whiteColor);
    opacity: .9;
    font-size: 13px;
    padding: 1rem 0;
    max-width: 70%;
    text-align: center;
    margin: auto;
}
.exploreBtn{
    padding: .6rem 1.5rem;  
}
.homeCard{
    width: 80%;
    border-radius: 1rem;
    padding: 2rem;
    background: var(--whiteColor);
    position: absolute;
    gap: 1rem;
    justify-content: center;
    bottom: -30%;
    transform: translate(-50%);
    left: 50%;
    box-shadow: 0 2px 8px 4px rgba(178, 178, 178, 0.45);
}

.locationDiv , .priceDiv{
    width: 100%;
}
.locationDiv label , .priceDiv label{
    display: block;
    color: var(--textColor);
    font-weight: 500;
    font-size: 13px;
    padding-bottom: .4rem;

}
.locationDiv input , .priceDiv input{
    width: 100%;
    background: var(--inputColor);
    border-radius: 10px;
    border: none;
    padding: 10px;
    font-size: 13px;
    font-weight: 500;
    outline: none;
}

/* --------Media Query------------ */

@media screen and (min-width:350px){
    .homeCard{
       bottom: -100px;
       width: 80%;
       grid-template-columns: repeat(1 , 1fr);
    }
    .home{
     margin-bottom: -50px;
    }
 }
 
@media screen and (min-width:556px){
   .homeCard{
      bottom: -100px;
      width: 80%;
      grid-template-columns: repeat(2 , 1fr);
   }
   .homeCard button{
    transform: translate(90px);
   }
   .home{
    margin-bottom: -50px;
   }
}
@media screen and (min-width:720px){
   .homeCard{
    bottom: -10%;
    grid-template-columns: repeat(3,1fr);
   }
   .homeCard button{
    transform: translateY(15px);
    color: #fff;
   }
}

