.popular{
    padding-top: 15rem;

}
.secHeader{
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.secTitle{
    color: var(--PrimaryColor);
    line-height: 1.5rem;
    padding-bottom: .5rem;
    text-align: center;

}

.textDiv p{
    font-size: 13px;
    color: var(--textColor);
    font-weight: 500;
    text-align: center;
}
.iconsDiv{
    position: relative;
    left: 120px;
}
.iconsDiv .icon{
    color: var(--PrimaryColor);
    font-size: 2.5rem;
    padding: .1rem;
}

.iconsDiv .icon:hover{
    background-color: rgb(150, 150, 213);
    border-radius: 50%;
}
.mainContent{
    padding: 2rem 0;
    gap: 1rem;
}
.singleDestination{
    overflow: hidden;
    border-radius: 1rem;
    box-shadow: 2px 3px 5px 4px rgba(179, 176, 176, 0.632);
}
.destImage{
    height: 250px;
    width: 100%;
    position: relative;
    overflow: hidden;
}
.destImage img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.overlayInfo{
    position: absolute;
    display: flex;
    align-items: flex-start;
    padding:0;
    justify-content: center;
    flex-direction: column;
    background: linear-gradient(rgba(0,0,0,0.846),rgba(0,0,0,0.759));
    bottom: 0;
    width: 100%;
    height: 0;
    /* height: 0; */
    overflow: hidden;
    color: #fff;
    font-weight: 600;
    opacity: .8;
}
.overlayInfo .icon{
    position: absolute;
    right: 10px;
    bottom: 10px;
    padding: .5rem;
    background: var(--PrimaryColor);
    font-size: 2.5rem;
    border-radius: 50%;
    border: 1px solid #fff;
}
.overlayInfo .icon:hover{
    background: var(--blackColor);
}
.singleDestination:hover .overlayInfo{
  overflow: visible;
  padding: 1rem 1.5rem;
  height: 100%;
}
.destFooter{
    flex-direction: column;
}
.destPart{
    width: 95%;
    display: flex;
    justify-content: space-between;
    padding: 3px;
    font-size: 13px;
    color: var(--textColor);
}
@media screen and (min-width:550px){
    .iconsDiv{
       left: 200px;
    }
}
@media screen and (min-width:480px){
     .popular{
        padding-top:11rem;
     }
}
@media screen and (min-width:370px){
    .popular{
       padding-top:10rem;
    }
}


